[submodule "src/shared/JUCE"]
	path = src/shared/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "src/shared/er1_dsp"]
	path = src/shared/er1_dsp
	url = https://github.com/metaphaseaudio/er1_dsp.git
[submodule "src/shared/MUDS"]
	path = src/shared/MUDS
	url = https://github.com/metaphaseaudio/MUDS.git
[submodule "src/shared/metaphase_core"]
	path = src/shared/metaphase_core
	url = https://github.com/metaphaseaudio/metaphase_core.git
